<header>
    <div class="details" (click)="goBack()"><img src="assets/images/arrow.png" alt="" class="arrow">List of Vehicles</div>
</header>
<ul class="list_back">
    <li [routerLink]="['/add-vehicle']">
        <div class="row">
            <div class="col-8">
                <div class="bill">
                    Bill no# - AP29SA1919<br>
                    <span>#Days- Vehicle Type</span>    
                </div>
            </div>
            <div class="col-4">
                <div class="no">8247519191</div>
            </div>
        </div>
        <div class="go"><img src="assets/images/arrow.png" alt="" class="arrow"></div>
    </li>
    <li>
        <div class="row">
            <div class="col-8">
                <div class="bill">
                    Bill no# - AP29SA1919<br>
                    <span>#Days- Vehicle Type</span>    
                </div>
            </div>
            <div class="col-4">
                <div class="no">8247519191</div>
            </div>
        </div>
        <div class="go"><img src="assets/images/arrow.png" alt="" class="arrow"></div>
    </li>
    <li>
        <div class="row">
            <div class="col-8">
                <div class="bill">
                    Bill no# - AP29SA1919<br>
                    <span>#Days- Vehicle Type</span>    
                </div>
            </div>
            <div class="col-4">
                <div class="no">8247519191</div>
            </div>
        </div>
        <div class="go"><img src="assets/images/arrow.png" alt="" class="arrow"></div>
    </li>
    <li>
        <div class="row">
            <div class="col-8">
                <div class="bill">
                    Bill no# - AP29SA1919<br>
                    <span>#Days- Vehicle Type</span>    
                </div>
            </div>
            <div class="col-4">
                <div class="no">8247519191</div>
            </div>
        </div>
        <div class="go"><img src="assets/images/arrow.png" alt="" class="arrow"></div>
    </li>
</ul>
